.cart-outer {
    background-color: #eee;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;

}

.cart-item {
    background-color: white;
    display: flex;
    margin: 20px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 2px #aaaaaa;
    padding: 20px 10px;

}

.cart-item-image {
    height: 100%;
    width: 100px;
    min-width: 100px;
    display: flex;
    align-items: center;
}

.cart-item-details h4 {
    margin: 10px 0;
}

.cart-item-details{
    padding: 0px 20px;
}

.remove-from-cart-btn {
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 5px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
